# Dependencies
node_modules/

# Environment variables
.env
api/.env
client/.env
client/.env.local
client/.env.*.local

# OS files
.DS_Store

# Build artifacts
build/
dist/
.out/
.next/
coverage/
logs/
